/* 
 * This is a combination of 
 * http://meyerweb.com/eric/tools/css/reset/ and 
 * http://www.blueprintcss.org/blueprint/src/typography.css
 * plus some additional definitions.
 */

body {
	font: 87.5% Arial, Helvetica, sans-serif;
	line-height: 1.5;
}

/* nudge down to get to 13px equivalent for these form elements */ 
select, input, button, textarea, button {
	font: 99% arial,helvetica,clean,sans-serif;
}

/* help tables remember to inherit */
table {
	font-size:inherit;
	font:100%;
}

/* Bump up IE to get to 13px equivalent for these fixed-width elements */
pre, code, kbd, samp, tt {
	font-family: monospace;
	font-size: 115%;
	*font-size: 107%;
	line-height: 1;
}

p, fieldset, table, pre, h3, h4, h5 {
	/* Top & bottom margin based on font size. */
	margin: 1em 0;
}

h1,h2,h3,h4,h5,h6,strong,dt {
	/* Bringing boldness back to headers and the strong element. */
	font-weight: bold;
}

abbr,acronym {
	/* Indicating to users that more info is available. */
	border-bottom: 1px dotted #000;
	cursor: help;
}

em {
	/* Bringing italics back to the em element. */
	font-style: italic;
}

dl {
  margin: 1em 0;
}

blockquote,ul,ol {
	/* Giving blockquotes and lists room to breath. */
	margin: 1em 0 1em 1em;
}

ul ul, ol ul {
  margin: 0 0 0 2em;
}

ul {
  /* Bringing lists on to the page with breathing room. */
  margin-left: 2em;
}

ol {
  /* Bringing lists on to the page with breathing room. */
  margin-left: 2em;
}

ul ol, ol ol {
  margin: 0 0 0 2em;
}

ol li, ul ol li {
	/* Giving OL's LIs generated numbers. */
	list-style: decimal outside;
}

ul li {
	/* Giving UL's LIs generated disc markers. */
	list-style: disc outside;
}

dl dd {
	/* Giving UL's LIs generated numbers. */
	margin-left: 2em;
}

th,td {
	/* Borders and padding to make the table readable. */
	border: 1px solid #000;
	padding: .25em;
}

th {
	/* Distinguishing table headers from data cells. */
	font-weight: bold;
}

caption {
	/* Coordinated margin to match cell's padding. */
	margin-bottom: .5em;
	/* Centered so it doesn't blend in to other content. */
	text-align: center;
}

sup, sub {
  font-size: smaller;
}

sub {
  vertical-align: bottom;
}

sup {
  vertical-align: top;
}

/* Opera requires 1px of passing to render with contemporary native chrome */
button,
input[type="checkbox"],
input[type="radio"],
input[type="reset"],
input[type="submit"] {
	padding:1px;
}

/* base styles for common elments */
blockquote, cite, em, i {
  font-style: italic;
  font-weight: none;  
}

strong, b {
  font-style: inherit;
  font-weight: bold;  
}

b, i {
  color: #F00;
  text-decoration: line-through;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size:2.5em;
  line-height: 1;
}

h2 {
  font-size:2em;
  line-height: 1;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.1;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h5 {
  font-size: 1em;
  margin-bottom: 0.5em;
  line-height: 1.3;
}