/* centered fixed layout */

body {
  text-align: center;
}

#wrapper, #footer {
  width: 960px;
  margin: auto;
  text-align: left;
}

/* sticky foooter */

html, body {
  height: 100%;
}

#footer {
  height: 30px;
  position: relative;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  margin-bottom: -30px; /* negative value of footer height */
}

/** clearfix for firefox */
#wrapper:after {
  clear: both;
  content: " ";
  font-size: 0;
  line-height: 0;
  display: block;
  height: 0;
  visibility: hidden;
}

#nav, #content {
  padding-bottom: 40px; /* footer height plus extra spacing */
}

/* vertical navigation */

#header {
  height: 60px;
}

#nav {
  width: 240px;
  float: left;
}

#content {
  width: 720px;
  float: right;
}

#footer { 
  clear: both;
}

/* navigation styles */

#nav ul { 
  margin: 0;
}

#nav ul li { 
  list-style: none;
}

/* content padding */

#header, #footer, #nav, #content {
  padding-left: 10px;
  padding-right: 10px;
}

#nav { 
  width: 220px;
}

#content {
  width: 700px;
}

#footer {
  width: 940px;
}

/* indicator colors */

body     { background-color: #CCC; }
#wrapper { background-color: #EEF; }
#header  { background-color: #EEE; }
#footer  { background-color: #EEE; }
#content { background-color: #FFF; }
#nav     { background-color: #FEE; }
